body {
    color: #222222;
    background-color: white;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 19px;
}

h1 {
    display: none;
    font-size: 1.429em;
    padding: 10px 15px 7px;
    border-bottom: 1px solid #e9e9e9;
}
form {
    margin: 0px auto;
    width: 400px;
    padding: 10px;
    border: 1px solid #e9e9e9;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    margin-top: 50px;
}
form:before {
    content: 'LDAP Authentication';
    text-align: center;
    display: inline-block;
    font-weight: bolder;
    font-size: 24px;
    padding: 25px 0px;
    width: 400px;
}
input {
    background-color: white;
    border: 1px solid #e9e9e9;
    border-radius: 3px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.3);
    display: inline-block;
    height: 18px;
    padding: 4px;
    margin-bottom: 9px;
    font-size: 0.929em;
    line-height: 18px;
}
button {
    border: none;
    font-weight: normal;
    color: white;
    background: #0088cc;
    padding: 19px 28px;
    font-size: 20px;
    line-height: 15px;
    display: block;
    margin: 30px auto;
}
label {
    display: block;
}
label:before {
    content: ' '; display: block;
}
input {
    height: 68px;
    padding: 0 25px;
    width: 348px;
    font-size: 24px;
}
