body {
    color: #232527;
    background-color: #2f343d;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 32px;
    padding: 10px 15px 7px;
    border-bottom: 1px solid #e9e9e9;
    display:none;
}

form {
    padding: 30px 20px;
    margin: 0px auto;
    width: 320px;
    border: 1px solid #fff;
    background: #fff;
    box-shadow: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%)
}

input {
    background-color: white;
    border: 1px solid #e9e9e9;
    border-radius: 3px;
    box-shadow: none;
    display: inline-block;
    height: 18px;
    padding: 4px;
    margin-bottom: 20px;
    font-size: 0.929em;
    line-height: 18px;
}

#username {
    margin-left: 31px
}

button {
    border: none;
    font-family: 'Montserrat' sans-serif;
    color: #fff;
    background: #2368a0;
    font-weight: normal;
    padding: 6px 18px;
    font-size: 14px;
    line-height: 0px;
    display: block;
    margin-left: auto;
}

label:before {
    content: ' '; display: block;
}
