# Based on https://github.com/discourse/discourse-plugin-skeleton/blob/main/.github/workflows/plugin-tests.yml
name: Plugin Tests

on:
  push:
    branches:
      - master
      - main
  pull_request:

jobs:
  build:
    uses: discourse/.github/.github/workflows/discourse-plugin.yml@v1
